{% extends 'boilerplate/page.html' %}
{% block content %}

<main id="main-index">
  <h1 class="index-font slogan">Chaoskasten: Plaintext notes for productive people.</h1>

  <div id="about-notes">
    <article class="note" id="">
      <h2 class="note-title single-note-title">Idea</h2>
      <div class="note-content">
        <p>
          There are many ideas, concepts and tools to take notes. <br>
          Few work.
        </p>
        <p>      We aim to provide you:</p>
        <ul>
          <li>A lean tool: No bloat, no drowning in features.</li>
          <li>A tool to think with: In Chaoskasten, your knowledge is interconnected, just like your thoughts.</li>
          <li>A learning tool: Every note is a flash card for spaced repetition learning.</li>
        </ul>
      </div>

    </article>

    <article class="note" id="note-pricing">
      <h2 class="note-title single-note-title">Pricing</h2>
      <div class="note-content">
        <p>You can try out all features for as long as you want in test mode. However, your account is temporary and may not be preserved when you close your internet browser or turn your device off.</p>
        <p>At any time, you can move to a permanent account for just <span class="orange">$3/month</span>. <br>You may download your notes (test mode or not) at any time. We will never hold your data hostage.</p>
      </div>
    </article>

    <article class="note">
      <h2 class="note-title single-note-title">Statistics</h2>
      <div class="note-content">
        <p>Our users have written {{ countNotes }} notes so far.</p>
        <p>{{ countLoginsWeekly }} users checked in within the last seven days.</p>
      </div>
    </article>

    <article class="note">
      <h2 class="note-title single-note-title">Info</h2>
      <div class="note-content">
        <p>
          Contact:
        </p>
          <address><a href="mailto:chaoskasten.mail@gmail.com">Our email</a></address>

      </div>
    </article>

  </div>

</main>
{% endblock content %}
