{% extends 'boilerplate/page.html' %}
{% block content %}
<main id="main-index">
  <h1 class="index-font slogan">Chaoskasten: Plaintext notes for productive people.</h1>
  <h2 class="index-font">Write your first note now:</h2>

  <div class="index-noteholder">
    <div class="note">
      <form action="" method="post" class="">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" name="title" placeholder="Give your note a title to reference it later - like 'Recipe Recommendations from John'">
        <label for="content">Content:</label>
        <textarea name="content" rows="8" cols="80" placeholder="You may write anything here! If you want, you can use Markdown syntax to format your text."></textarea>
        <div class="form-buttons">

          <p id="cookies">We are using functional cookies to ensure secure login and payment.</p>
          <button type="submit" value="Submit" class="button-primary form-submit">Save my first note</button>
        </div>

      </form>
    </div>
  </div>

    <ul id="index-ul">
      <li>
        <a  href="/signup" class="index-font">...sign up first ($3/month)</a>
      </li>
      <li>
        <a href="/about" class="index-font">...learn what makes us special</a>
      </li>
    </ul>

</main>

{% load static %}

{% endblock content %}
