<div class="note-main">
{% load static %}
  {% if parentnote.id == editableNote %}
    <form action="" method="post" class="">
      {% csrf_token %}
      {{ form }}
      <div class="form-buttons">
        <a href="/notes" onclick="return confirm('Discard the change to your card?')">Discard</a>
        <button type="submit" value="Submit" class="button-primary form-submit">Submit</button>
      </div>

    </form>
  {% else %}

    <div class="note-topbar">
      <h2 class="single-note-title">{{ parentnote.title }}</h2>
      <a href="/close/{{ parentnote.id }}/notes">X</a>
    </div>

    {% load markdown %}

    <div class="note-content">{{ parentnote.content|markdown|safe}}</div>

    {% if parentnote.reference.all %}
      <ul class="note-related-list">
        {% for reference in parentnote.reference.all %}
        {% include 'widgets/noteTitle.html' with note=reference unconnectable='True' %}
        {% endfor %}
      </ul>
    {% endif %}


    <div class="note-bottombar">
      <p class="note-drawer">{{ parentnote.drawer }}</p>
      <div class="note-buttons">
        <a href="/pin/{{parentnote.id}}" class="svg-link-wrapper">
          <object class="svg-object" data="static/ico/tag.svg" type="image/svg+xml"></object>
        </a>
        {% if sender %}
          {% if parentnote.id == sender %}
            <a href="/notes/deactiveConnectionMode" class="svg-link-wrapper">
              <span class="svg-wrapper">
                <object class="connect-sender svg-object" data="static/ico/link.svg" type="image/svg+xml"></object>
              </span>
            </a>
          {% else %}
            <a href="/notes/r/{{ parentnote.id }}" class="svg-link-wrapper">
              <span class="svg-wrapper">
              <object class="connect-receiver svg-object" data="static/ico/link.svg" type="image/svg+xml"></object>
            </span>
            </a>
          {% endif %}
        {% else %}
          <a href="/notes/s/{{parentnote.id}}" class="svg-link-wrapper">
            <span class="svg-wrapper">
            <object class="svg-object" data="static/ico/link.svg" type="image/svg+xml"></object>
          </span>
          </a>
        {% endif %}
        <a href="/delete/{{parentnote.id}}" class="svg-link-wrapper" onclick="return confirm('Delete this note?')">
          <span class="svg-wrapper">
          <object class="svg-object" data="static/ico/trash-2.svg" type="image/svg+xml"></object>
        </span>
        </a>
        <a href="/editMode/{{parentnote.id}}/true" class="svg-link-wrapper">
          <span class="svg-wrapper">
          <object class="svg-object" data="static/ico/edit.svg" type="image/svg+xml"></object>
        </span>
        </a>
      </div>
    </div>
    {% endif %}
</div>
