<div class="note-main">
{% load static %}
  {% if parentnote.id == editableNote %}
    <form action="" method="post" class="">
      {% csrf_token %}
      {{ form }}
      <div class="form-buttons">
        <a href="/notes" onclick="return confirm('Discard the change to your card?')">Discard</a>
        <button type="submit" value="Submit" class="button-primary form-submit">Submit</button>
      </div>

    </form>
  {% else %}

    <div class="note-topbar">
      <h2 class="single-note-title">{{ parentnote.title }}</h2>
      <a href="/close/{{ parentnote.id }}/notes">X</a>
    </div>

    {% load markdown %}

    <div class="note-content">{{ parentnote.content|markdown|safe}}</div>

    {% if parentnote.reference.all %}
      <ul class="note-related-list">
        {% for reference in parentnote.reference.all %}
        {% include 'widgets/noteTitle.html' with note=reference unconnectable='True' %}
        {% endfor %}
      </ul>
    {% endif %}


    <div class="note-bottombar">
      <div class="note-buttons">
        <a href="/pin/{{parentnote.id}}" class="icon-link">
          <img src="{% static '/ico/tag.svg' %}" alt="Pin" class="icon title-icon">
        </a>
        {% if sender %}
          {% if parentnote.id == sender %}
            <a href="/notes/deactiveConnectionMode" class="icon-link connect-sender">
                <img src="{% static '/ico/link.svg' %}" alt="Connect" class="icon title-icon  ">
            </a>
          {% else %}
            <a href="/notes/r/{{ parentnote.id }}" class="icon-link connect-receiver">
                <img src="{% static '/ico/link.svg' %}" alt="Connect" class="icon title-icon">
            </a>
          {% endif %}
        {% else %}
          <a href="/notes/s/{{parentnote.id}}" class="icon-link">
            <img src="{% static '/ico/link.svg' %}" alt="Connect" class="icon title-icon">
          </a>
        {% endif %}
        <a href="/delete/{{parentnote.id}}" class="icon-link" onclick="return confirm('Delete this note?')">
          <img src="{% static '/ico/trash-2.svg' %}" alt="Trash" class="icon title-icon">
        </a>
        <a href="/editMode/{{parentnote.id}}/true" class="icon-link">
          <img src="{% static '/ico/edit.svg' %}" alt="Edit" class="icon title-icon">
        </a>
      </div>
    </div>
    {% endif %}
</div>
