<!DOCTYPE html>
<html lang="en" class=" h-full">
<head>
  <meta charset="utf-8" />
  <title>Chaoskasten Beta</title>
  <!-- <link
  href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
  rel="stylesheet"
  /> -->
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>

<body class="" id="body-default">

  {% block sidebar %}
  {% endblock sidebar %}

  <div class="content">
    {% block content %}
    {% endblock content %}
  </div>
  <script>
  0
  </script>
</body>
</html>
